@import 'breakpoints';

.banner {
	$parent: &;

	position: relative;
	padding: 60px 0;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: fixed;

	@include breakpoint($lg) {
		padding: 200px 0;
	}

	&__main {
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		opacity: 0.3;
		transition: all 0.3s;

		@include breakpoint($desktop) {
			opacity: 1;
		}
	}

	&--fixed {
		#{$parent}__image {
			background-attachment: fixed;
		}
	}

	// sizing/x/y

	// positioning/alignment
	// horizontal
	&--left {
		//text-align: left;
	}

	&--right {
		//text-align: right;
	}

	&--center {
		text-align: center;
	}

	// vertical
}
